@import "../styles/variables.scss";
.home-banner {
  .home-banner-li-active {
    background-color: $primary-color;
    height: 12px;
    width: 47px;
    border-top: none;
    border-bottom: none;
    border-radius: 8px;
  }
  .home-banner-li {
    background-color: #dddddd;

    height: 12px;
    width: 12px;
    border-top: none;
    border-bottom: none;
    border-radius: 8px;
  }
}
